{%load static %}
<!DOCTYPE html>
<html>
    <head>
        <!--Importing Boot-strap-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <title>Trucks</title>
    </head>
    <body style="font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif" >
        <!--Navigation bar consisting of notificiation bell icon and Company name-->
        <nav class="navbar navbar-expand-sm bg-dark">
            <div class="container col-4" > 
                <div class="dropdown">
                    <!--If there are unread notifications.-->
                    {% if unread is not 0 %}
                    <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown">
                        <img  class='img-thumbnail' width="55" height="55" src='{%static "img/unread.png" %}'>&nbsp;<span class="badge badge-light">{{unread}}</span>
                    </button>
                    <!--If there are no unread notifications-->
                    {%else%}
                    <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown">
                        <img  class='img-thumbnail' width="55" height="55" src='{%static "img/read.png" %}'>
                        </button>
                    {%endif%}
                    <!--Rendering the notifications dropdown menu-->
                    <ul class='list-group' >
                        <div class="dropdown-menu bg-dark" style="overflow-y:scroll;height:200px">
                           <!--Mark as read buton which redirects to "/mark" url which has the mark view attached to it which alters
                            the is_read field of Notification Table-->
                            <center><a href="/mark" ><button class="btn btn-outline-secondary">Mark as read</button></a></center>
                            <h5 class="dropdown-header bg-light">Unread</h5>
                            {%for i in y%}
                            {%if i.is_read is False%}
                            <!--Using boolean field "is_read of notifications table to check and truck_id field which referes to the 
                            coreesponding id of the truck in truck table for opening the truck detail page upon clicking the notification.-->
                            <a class="dropdown-item list-group-item bg-dark" style="color:rgb(204, 199, 199)" href="/{{i.truck_id}}">{{i}}</a>
                            {%endif%}
                            {%endfor%}
                            <a class="dropdown-item list-group-item bg-dark" style="color:bisque" href="#"></a>
                            <h5 class="dropdown-header bg-light">Read</h5>
                            {%for i in y%}
                            {%if i.is_read is True%}
                            
                            <a class="dropdown-item list-group-item bg-dark" style="color:bisque" href="/{{i.truck_id}}">{{i}}</a>
                            {%endif%}
                            {%endfor%}
                        </div>
                    </ul>
                </div>
            </div>    
            <div class='container col-6' >
                <h3>
                    <a href="/" style="color:rgb(204, 198, 198)"><b>Gurgaon Travels Pvt. Ltd.</b></a>
                </h3>
            </div>
            <div class='container col-2'>
                <button class="btn btn-outline-dark">
                    <a href="/tabular" style="color:rgb(204, 198, 198)">View tabular details</a>
                </button>
            </div>
        </nav>
        <!--This div renders all the trucks of the transport company-->
        {% block body %}
        <div class="row">
            {%for k in trucks%}
            <div class="card col-sm-3" style="width:400px">
                <img class="card-img-top"  src="{{k.image.url}}" style="height:250px;" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">{{k}}</h4>
                    <div>
                        <a href="{{k.id}}"><button type="button" class="btn btn-secondary" >See info
                        </button></a>
                    </div>
                </div>    
            </div>
            {%endfor%}
        </div>
        {% endblock %}
    </body>
</html>
